*{
    margin: 0 auto;
    box-sizing: border-box;
}

.main{
    margin: 50px;
    background-color: plum;
    border: 5px solid lightgray; 
  }
  
  .nav-bar{
    word-spacing: 40px;
    font-size: 20px;
    font-family: arial;
  }
  
  .nav-bar ul li a{
    text-decoration: none;
    color: darkslategray;
    font-weight: 700;
  }
  
  .nav-bar ul li{
    display: inline-block;
    -webkit-transition: border 1s, border-radius 1s, padding 1s, background-color 1s, color 1s;
  }
  
  .nav-bar ul li:hover{
    border-bottom: 2px solid gray;
    border-radius: 10%;
    padding: 10px;
    background-color: plum;
    color: white;
  }
  
body{
    background-color: beige;
}
h2 {
    color: plum;
    padding: 25px;
    font-weight: bold;
    font-size: 75px;
    text-align: center;
}

form{
    width: 50%;
    height: 600px;
    border: 10px solid plum;
    padding: 20px;
    border-radius: 20px;
    line-height: 2;
    background-color:white;
}
div input[type="name"],
div input[type="text"],
div input[type="email"],
div input[type="tel"],
div input[type="date"],
div input[type="time"],
input[type="search"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid black;
}

input[type="search"]{
    height: 100px;
}


input[type="submit"] {
    width: 50%;
    padding: 15px;
    display: block;
    margin-top: 20px;
    background-color: plum;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

label {
    text-transform: uppercase;
}
